body {
	/*background-image: url("https://github.com/designdeity/designdeity.github.io/blob/master/unit_3/images/hero-bg.png");*/
	background-image: url(http://goodunltd.com/hero-bg.png);
	background-color: #c1c1c1;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-size: 100%;
}

h1 {
	color: #287E00;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 52px;
	font-weight:400;
}

.quote {
	color: #B200AA;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 22px;
	font-weight:400;
	font-style: italic;
	text-align: center;
}

.quoteauthor {
	color: #575757;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 16px;
	font-weight:400;
	font-weight: bold;
	text-align: center;
}

p, li {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	color:#575757;
	font-size: 17px;
	font-weight: normal;
}

ul {
	font-weight: bold;
}

.button {
    background-color: #B200AA; /* Aqua */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px 0px 40px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

#slogan {
	font-style: italic;
	font-weight: 300;
	color: #B200AA;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 28px;
	/* background
	background-color
	color
	font-size
	text-align
	text-decoration
	text-transform */
}

.portfolioimage {
	position: relative;
	width: 420px;
	margin:auto;
	padding: 0px 0px 20px 0px;
	display:inline-block;
}